<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta content="csrf5ef1ce525251b" name="csrf_name">
    <meta content="11466e15f256cec281cfb9bf6ddaf09d" name="csrf_value">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      * {
        box-sizing: border-box;
      }

      html,
      body,
      #react-planner {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        position: absolute;
        left: 0;
        top: 0;
      }
    </style>
  </head>
  <body>
    <div id="react-planner"></div>

    <script>
      window.asbestosReport = {
          report : null,
          guid: '5ef0af2b704b596b277def80',
          floor : 'ground',
          section : 0,
      };
  </script>
  </body>
</html>
